<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <h2>Calories Calculation Form</h2>
    <p>Fill in the form and click the button to know how many calories you need!</p>

    <form action="calories_form" method="post">
        <p>Let's get some info about you first.</p>
        {{calories_form.weight.label}} {{calories_form.weight}}
        <br>
        {{calories_form.height.label}} {{calories_form.height}}
        <br>
        {{calories_form.age.label}} {{calories_form.age}}
        <br>
        <hr>
        <p>Today's weather counts too. <br> Tell us where you are, so we include today's temperature into the calculation</p>
        {{calories_form.city.label}} {{calories_form.city}}
        <br>
        {{calories_form.country.label}} {{calories_form.country}}
        <br>

        <br>
        {{calories_form.button}}
        <br>
        {% if result == True %}
        <h3>You need {{calories}} calories (kcal) today</h3>
        {% endif %}
    </form>

</body>
</html>